{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="container">  
  {% if env == "1" %}
  
  
    <div class="envdata">
    <h2>DEV ENVIRONMENT</h2>
    
    <STYLE>
   
   .envdata{
  z-index: 1021;
  background-color:red;
  position: fixed;
  width: 10vw;
  overflow:hidden;
  top:0;
  left: 0%;
  transform: rotate(315deg);
  text-align: center;
  font-size:1vw;
  color:white;
  text-transform: uppercase;
  font-family: Tahoma, Verdana, sans-serif;
  box-shadow: 12px 10px 6px grey;
  padding: 0px 0px 5px 0px;
  
}
    
    </STYLE>
    
 
    
  </div>
  {% endif %}
<div class="card">
    <div class="card-body">
    <h2>Hello {{name['fullName']}}</h2>
    
 
    </div>
  </div>
</div>
<div class="container-fluid sticky-top">
<div class= "card form " style="padding-top: 1em; margin-top:1em ;">
  <form action="/submit" method="POST">
    <input  type ='text' class="text-boxin" name="title" id="title" placeholder="So what would you like to do?" required></input>
    
    <div class="row form-group">
      <label for="date" class="col-sm-2 col-form-label">Date Due</label>
      <div class="col-sm-4">
          <div class="input-group date" id="datepicker">
              <input type="text" name="due_date" id="due_date" class="form-control">
              <span class="input-group-append">
                  <span class="input-group-text bg-white">
                      <i class="fa fa-calendar"></i>
                  </span>
              </span>
          </div>
      </div>
  </div>
  <input class="btn btn-primary btn-block" type='submit' value="new task"></input>

  </div>
  </form> 
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    
    <div class="col-lg-4  order-lg-2">
    {% for item in view_items.doing_items%}  
      
     {% include 'card.html'%}
        
    {% endfor %}     
    </div>
    <div class="col-lg-4 order-lg-1">
      {% for item in view_items.todo_items%}
      
        
      {% include 'card.html'%}
      {% endfor %}    
    </div>

    {% if view_items.done_items|length <=5 %}
    <div class="col-lg-4 order-lg-3" >
      {% for item in view_items.done_items%}
      
        
      {% include 'card.html'%}
      {% endfor %}    
    </div>
    {% else %}
    <div class="col-lg-4 order-lg-3" >
      {% for item in view_items.recently_done_items %}
      
        
      {% include 'card.html'%}
      {% endfor %}  
      <details>
      <summary>Older Items</summary>  
      {% for item in view_items.old_done_items %}
      
        
      {% include 'card.html'%}
      {% endfor %}
      </details>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}

