{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="container">  
<div class="card">
    <div class="card-body">
    <h2>Hello {{name['fullName']}}</h2>
    
 
    </div>
  </div>

<div class= "card form sticky-top" style="padding-top: 1em; margin-top:1em ;">
  <form action="/submit" method="POST">
    <input  type ='text' class="text-boxin" name="title" id="title" placeholder="So what would you like to do?" required></input>
    <input class="btn btn-primary btn-block" type='submit' value="new task"></input>
  </form> 
</div>
</div>
<div class="container-fluid">
  <div class="row">
    
    <div class="col-lg-4">
      {% for item in items%}
      {% if "To-do" in item.list %}
        
          <div class="card " style="min-width: 18rem; margin-top: 1rem;">
            <!-- top of card -->
            <div class="card-body bg-{{box_colour}}">
              <div class="flex" style="justify-content: space-between;">
                 <h5 class="card-title">{{item.name}}</h5>
                            {% if "Doing" in item.list %}  
                  <div class=" alert alert-warning" role="alert" style="-ms-flex-align: end;">
                    {{item.list}}
                  </div>
                      {% elif "To-do" in item.list %}
                  <div class="alert alert-danger" role="alert" style="-ms-flex-align: end;">
                        {{item.list}}
                  </div>
                      {% else %}
                      <div class="alert alert-success" role="alert" style="-ms-flex-align: end;">
                        {{item.list}}
                      </div>
                    {% endif %}    
                    </div>
                    
                  </div>
                  <!-- bottom of card -->
                  <div class="flex"  style="justify-content: space-between;  padding-left: 1em;padding-right: 1em;">
                      <p>{{item.dayLastActivity}}/{{item.monthLastActivity}}/{{item.yearLastActivity}}@{{item.timeLastActivity}} </p>
                    <div class="buttons flex">
                      {% if "Doing" in item.list %}  
                        <form action="/complete/{{item.id}}" method="POST">
                          <button type="submit" class="btn btn-success">Done</button>
                        </form>
                      {% elif "To-do" in item.list %}
                        <form action="/doing/{{item.id}}" method="POST">
                          <button type="submit" class="btn btn-warning">Start</button>
                        </form>
                      {% endif %}    
                        <form action="/delete/{{item.id}}" method="POST">
                          <button type="submit" class="btn btn-danger" style="margin-left: .5em;" >DELETE</button>
                        </form>
                    </div>
                  </div> 
                </div>
              
      {% endif %}  
      {% endfor %}    
    </div>
    <div class="col-lg-4">
    {% for item in items%}  
    {% if "Doing" in item.list %}    
      <div class="card " style="min-width: 18rem; margin-top: 1rem;">
        <!-- top of card -->
        <div class="card-body bg-{{box_colour}}">
          <div class="flex" style="justify-content: space-between;">
             <h5 class="card-title">{{item.name}}</h5>
                        {% if "Doing" in item.list %}  
              <div class=" alert alert-warning" role="alert" style="-ms-flex-align: end;">
                {{item.list}}
              </div>
                  {% elif "To-do" in item.list %}
              <div class="alert alert-danger" role="alert" style="-ms-flex-align: end;">
                    {{item.list}}
              </div>
                  {% else %}
                  <div class="alert alert-success" role="alert" style="-ms-flex-align: end;">
                    {{item.list}}
                  </div>
                {% endif %}    
                </div>
                
              </div>
              <!-- bottom of card -->
              <div class="flex"  style="justify-content: space-between;  padding-left: 1em;padding-right: 1em;">
                  <p>{{item.dayLastActivity}}/{{item.monthLastActivity}}/{{item.yearLastActivity}}@{{item.timeLastActivity}} </p>
                <div class="buttons flex">
                  {% if "Doing" in item.list %}  
                    <form action="/complete/{{item.id}}" method="POST">
                      <button type="submit" class="btn btn-success">Done</button>
                    </form>
                  {% elif "To-do" in item.list %}
                    <form action="/doing/{{item.id}}" method="POST">
                      <button type="submit" class="btn btn-warning">Start</button>
                    </form>
                  {% endif %}    
                    <form action="/delete/{{item.id}}" method="POST">
                      <button type="submit" class="btn btn-danger" style="margin-left: .5em;" >DELETE</button>
                    </form>
                </div>
              </div> 
      </div>
    {% endif %}      
    {% endfor %}     
    </div>
    <div class="col-lg-4">
      {% for item in items%}
      {% if "Done" in item.list %}
        
          <div class="card " style="min-width: 18rem; margin-top: 1rem;">
            <!-- top of card -->
            <div class="card-body bg-{{box_colour}}">
              <div class="flex" style="justify-content: space-between;">
                 <h5 class="card-title">{{item.name}}</h5>
                            {% if "Doing" in item.list %}  
                  <div class=" alert alert-warning" role="alert" style="-ms-flex-align: end;">
                    {{item.list}}
                  </div>
                      {% elif "To-do" in item.list %}
                  <div class="alert alert-danger" role="alert" style="-ms-flex-align: end;">
                        {{item.list}}
                  </div>
                      {% else %}
                      <div class="alert alert-success" role="alert" style="-ms-flex-align: end;">
                        {{item.list}}
                      </div>
                    {% endif %}    
                    </div>
                    
                  </div>
                  <!-- bottom of card -->
                  <div class="flex"  style="justify-content: space-between;  padding-left: 1em;padding-right: 1em;">
                      <p>{{item.dayLastActivity}}/{{item.monthLastActivity}}/{{item.yearLastActivity}}@{{item.timeLastActivity}} </p>
                    <div class="buttons flex">
                      {% if "Doing" in item.list %}  
                        <form action="/complete/{{item.id}}" method="POST">
                          <button type="submit" class="btn btn-success">Done</button>
                        </form>
                      {% elif "To-do" in item.list %}
                        <form action="/doing/{{item.id}}" method="POST">
                          <button type="submit" class="btn btn-warning">Start</button>
                        </form>
                      {% endif %}    
                        <form action="/delete/{{item.id}}" method="POST">
                          <button type="submit" class="btn btn-danger" style="margin-left: .5em;" >DELETE</button>
                        </form>
                    </div>
                  </div> 
                </div>
              
      {% endif %}    
      {% endfor %}    
    </div>
    
  </div>
</div>
{% endblock %}

